.DS_Store
node_modules
/dist
!node_modules/simplex-noise/simplex-noise.js
!node_modules/three/examples/jsm/controls/OrbitControl.js
env/
__pycache__

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
